boto3
awscli
pg8000
pandas
pyarrow  # parquet file handling

watchtower  # Sends logs to AWS CloudWatch
logging
pip-audit
pytest
python-dotenv  # Load environment variables from .env file
pydantic  # Data validation
flake8
pytest-mock
moto
sqlalchemy
psycopg2-binary